$royal-blue: #465DEF;
$havelock-blue: #6c98e0;
$mirage: #1C2237;
$bali-hai:#838EAB;
$dove-gray:#707070;
$dove-opac:#70707051;
$rajah:#F8A86B;
$bittersweet:#FB726F;
$mystic:#E6EBF1;
$tuna:#3C3C3F;
$martinique:#32325D;
$blue-bayoux:#525F7F;

$white:white;
//opacity
$white-opac04: rgba(255,255,255, 0.04);
$white-opac: rgba(255,255,255, 0.2);
$white-opac12: rgba(255,255,255, 0.12);
$white-opac60: rgba(255,255,255, 0.6);


//functional
$nav-bg:$royal-blue;
$footer-bg:$mirage;
$icons:$bali-hai;
$icon-on-blue:$white-opac60 ;
$main-bg:$mystic;
$input-bg:$white;
$shadow-onlight:$dove-opac;
$shadow-ondark:lighten($mirage, 3%);
$outline:$havelock-blue;

$logo: $white-opac;

//buttons
$btn-bg:darken($royal-blue, .5%); //also card bg
$btn-active:rgba(214, 120, 120, 0.12);
$nav-btn:rgba(0,0,0,0);
$button-group-bg: lighten($mirage, 5%);

//border
$main-border:$dove-gray;
$border: $mystic;
$border-ondark:$white-opac04;

//cards
$card-light-bg:$white;
$card-dark-bg:lighten($mirage, 3%);
$card-active-bg:lighten($royal-blue, .05%);


//text
$text-select:#525F7F;
$text-primary:$tuna;
$text-secondary:$bali-hai;
$text-warning:$rajah;
$text-error:$bittersweet;
$text-card-title:$mirage;
$text-card-main:$blue-bayoux;
$text-large:$tuna;
$text-active:$white;

//text on dark
$text-onblue-primary:$white;
$text-onblue-secondary:$bali-hai;