$royal-blue: #465DEF;
$mirage: #1C2237;
$bali-hai:#838EAB;
$dove-gray:#707070;
$dove-opac:#70707051;
$rajah:#F8A86B;
$bittersweet:#FB726F;
$mystic:#E6EBF1;
$tuna:#3C3C3F;
$white:white;
$white-opac: rgba(0,0,0, 0.04);
$martinique:#32325D;
$blue-bayoux:#525F7F;


//functional
$nav-bg:$royal-blue;
$footer-bg:$mirage;
$btn-bg:darken($royal-blue, .5%); //also card bg
$button-group-bg: lighten($mirage, 5%);
$icons:$bali-hai;
$icon-on-blue:lighten($royal-blue, 9%);
$btn-active:rgba(0,0,0,0.1);
$nav-btn:rgba(0,0,0,0);
$main-bg:$mystic;
$input-bg:$white;
$shadow-onlight:$dove-opac;
$shadow-ondark:lighten($mirage, 3%);

//border
$main-border:$dove-gray;
$border: $mystic;
$border-ondark:$white-opac;

//cards
$card-light-bg:$white;
$card-dark-bg:lighten($mirage, 3%);


//text
$text-select:#525F7F;
$text-primary:$tuna;
$text-secondary:$bali-hai;
$text-warning:$rajah;
$text-error:$bittersweet;
$text-card-title:$mirage;
$text-card-main:$blue-bayoux;
//text on dark
$text-ondark-primary:$white;
$text-ondark-secondary:$bali-hai;