@import "../partials/colors";
@import "../partials/sizes";
@import "../partials/mixins";


.main{
    margin: 0 auto 0 3%;
    height: 49%;
    &Grid{
        display: grid;
        width: 100%;
        grid-template-columns:repeat(3, 30%);
        grid-template-rows: auto;
        grid-auto-rows: minmax(30%, 100%);
        grid-column-gap:20px;     
    } 
}
.card{
    width: 100%;
    background-color: $input-bg;
    color:$text-secondary;
    box-shadow: 7px 14px 20px -8px $shadow-onlight,-2px 0 18px -8px $shadow-onlight;
    border-radius:$radius-deskopt;
   
    &__btn{
        width: 5.1rem;
        height: 2.1rem;
        line-height: 2rem;
        font-size: .9rem;
        text-align: center;
        color:$card-light-bg;
        background: $icon-on-blue;
        border:none;
        border-radius: .2rem;
    }
    &__icon{
        margin: 0  1rem;
    }
    p{
        display: inline-block;
        margin: 0 auto;
    }
}
.mainHeader{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    &__select{
        @include select;
        padding: 0.5rem 1rem 0.5rem 1rem;        
        border-radius: $radius-deskopt;
        width: 100%;
        min-width: 6.25rem;
    }
    &__selectOption{
        font-size: $text-regular;
    }
    &__arrowBtn{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        background: transparent;
        border:none;
        border-left: 1px solid $border;
        border-radius: $radius-deskopt;
        cursor: pointer;
        z-index: 3;
        img{
            z-index: 2;
        }
    }
    &__rotate--up{
        transform: rotate(180deg);
    }

    &__title{
        font-size: $text-bold;
        color:$text-primary;
        line-height: $line-height-bold;
    }
    &__subtitle{
        font-size: $text-regular;
        color:$text-secondary;
        line-height: $line-height-bold;
        margin-bottom: 1.3rem;
    }
    &__inputs{
        background: transparent;
        width: 25%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
    }
   
}
.search{
    display: flex;
    margin-left: 1rem;
    box-shadow: 7px 9px 20px -8px $shadow-onlight,-2px 0 18px -8px $shadow-onlight;
    border-radius: $radius-deskopt;
    &:focus{
        border:2px solid $outline;
    }
    
    &__iconBg{
        display: flex;
        justify-content: center;
        height: 2.4rem;
        width: 2.4rem;
       
        border: solid 1px $border;
        border-right: none;
        border-top-left-radius: $radius-deskopt;
        border-bottom-left-radius: $radius-deskopt;
        background-color: $input-bg;
    }
    &__icon{
        align-self: center;
        margin: 0 .5rem 0 1rem;
        height: 1rem;
    }
    &__input{
        
        border: solid 1px $border;
        border-left:none;
        border-bottom-right-radius: $radius-deskopt;
        border-top-right-radius: $radius-deskopt;
        &[type=text]:focus{border:none;}
    }
}
.cardHeader{
    @include cardPadding;
    height: auto;
    display: flex;
    align-items: center;
    &__message{
        display: block;
        margin-left: 0;
        align-self: center;
        width: 66%;
        font-size: $text-regular;
        color: $text-card-title;
    }
    &__icon{
        margin: 2rem 1rem 2rem 1.7rem;
        height: 1.4rem;
        width: 1.4rem;
    }
}
.cardMain{
    display: flex;
    position: relative;
    justify-content: center;
    height: auto;
    margin: 1.4rem .7rem;
    
    
    &__link{
        font-size: $text-regular;
        color:$text-secondary;
        align-self: center;
        @include link;
    }
    &__btn{
        position: absolute;
        transform-origin: 50%;
        top:50%;
        right: 0;
        transform: translateY(-50%);
        color:$card-light-bg;
        height: 2.2rem;
        width: 5rem;
        background-color: $btn-bg;
        font-size: 1rem;
        border:none;      
        border-radius: $radius-deskopt;
        cursor: pointer;
        &:focus{
            border:1px solid red;
        }
    }
    &__icon{
        margin-left: .5rem;
    }
}
.cardSelect{
    &__select{
        width: 100%;
        font-size: $text-regular;
        @include select;
        &Container{
            margin: 1rem 3%;
        }
    }
    &__icon{
        color: $bali-hai;      
        height: .5rem;
    }
 
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    font-size: $text-regular;
    padding: 1rem;
    border-top: 1px solid $border;
    &__text{
        height:100%;
    }
    &__status{
        height: 100%;
        color:$text-warning;
    }
    &__icon{
        height: $text-regular;
        cursor: pointer;
    }
}