@import "./partials/colors";

.footer{
    display: grid;
    grid-template-areas:
        "head head head"
        "card0 card1 card2";
    grid-template-columns: repeat(3,30%);
    grid-template-rows: 11% 45% auto;
    grid-row-gap:20%;
    column-gap: 20px;
    padding-left: 3%;
    background: $footer-bg;
    width: 100%;
    height: 45%; 
    & >.text{
        color:$tuna;
    }
    &__header{
        display: flex;
        flex-direction: column;
        margin-top: 2.7%;
        grid-area: head;
    }
    &__title, &__subtitle{
        text-align: left;
        align-self: start;
        margin-bottom: .8rem;
        
    }
    &__subtitle{
        color: $text-secondary;
    }
    &__footer{
        display:flex;
        flex-direction: column;
        height: 90%;
        justify-content: space-between;
        background-color: $card-dark-bg;
        border-radius: $radius-deskopt;
        &0{
            grid-area: card0;
        }
        &1{
            grid-area: card1;
        }
        &2{
            grid-area: card2;
        }
    }
    &__stats{
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 3fr;      
        border-top: solid $border-size $border-ondark;
    }
    &__stat{
        display:flex;
        justify-content: center;
        height: 3rem;
        line-height: 3rem;
        cursor: pointer;
    }
    &__comment{
        height: 40%;
        position: relative;
        cursor: pointer;
        padding: 5% 10% 0 10%;
    }
    &__comments{
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin-left: 1rem;
    }
    &__icon{
        height: 1rem;
        align-self: center;
    }
    &__bulb{
        position: absolute;
        left:3%;
    }
    &__like, &__dislike{
        padding: 0 8%;
        justify-content: space-around;
        width: 100%;
        border-left: solid $border-size $border-ondark;
    }
    &__expand{
        width: 100%;
        justify-content: flex-end;
        padding-right: 22%;
        border: none;
        border-left: solid $border-size $border-ondark;
        background: transparent;

    }    
}