@import "./partials/colors";

.footer{
    display: grid;
    grid-template:auto "head . ." "card card card" 1fr 1fr 1fr auto;//TODO: of course sgrid is messed up -_-
    column-gap: 20px;
    background: $footer-bg;
    width: 100%;
    height: 38%;
    margin-top: 5.5%;
    
    & >.text{
        color:$tuna;
    }
    &__header{
        grid-area: head;
    }
    
}
.cardFooter{
    grid-area: card;
}