@import "./partials/colors";
@import "./partials/sizes";

.header{
    height: 6%;
    background:$nav-bg;
    &__icon{
        color: $icon-on-blue;
    }
}
.nav{
    display: grid;
    grid-template-columns: 6% 10% 15% repeat(3, 10%) 39% ;
    height: 100%;
    &__logo,&>&__logo{
        justify-self:  center;
        align-self: center;
        // color:orange; 
    }
    &__btn{
        display:flex;
        justify-content: center;
        align-items: center;
        color: $icon-on-blue;
        background: transparent;
        font-size: .8rem;
        border:none;        
    }
    &__text{
        margin-left: .5rem;
        text-align: center;
    }
}
.settings{
    display: flex;
    justify-content: flex-end;    
    &__btn{
        width: 8rem;
        font-size: $text-medium;
        background: transparent;
        border: none;
        border-left: solid 1px $white-opac;
        color: $icon-on-blue;
    }
    &__text{
        display: flex;
        justify-content: center;
    }
    &__icon{
        margin-left: .5rem;
        color:$white-opac60;
    }
    &__user{
        display: flex;
        align-items: center;
        width: 6rem;
        background: $nav-btn;
        border:none;
        border-left: solid 1px $white-opac;
       
    }
    &__initials{
        display: block;
        position: relative;
        background: $btn-active;
        height: 2rem;
        width: 2rem;
        padding: .5rem .4rem;
        font-size: $text-regular;
        color: $text-onblue-primary;
        border:none;
        border-radius: $radius-deskopt;   
    }
    &__menu{
        border: none;
        background: transparent;
        
        width: 4rem;
    }
   
    &__fullName{
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
    }
    &__firstName, &__lastName{        
        color:$text-onblue-primary;
    }
    &__firstName{
        font-size: $text-small;
    }
    &__lastName{
        font-size: $text-micro;
        color: $icon-on-blue;
    }
}