@import "./styles/partials/colors";


*{
  margin:0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: $main-bg;
  color: $white;
  height: 100vh;
  min-height: 834px;
  min-width: 1000px;
  font-family: "SFPro";
}
@import "./styles/Typography.scss";
@import "./styles/Nav.scss";
@import "./styles/Main/Main.scss";
@import "./styles/Footer.scss";

