@import "./styles/partials/colors";


*,
*::before,
*::after{
  margin:0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: $main-bg;
  color: $white;
  height: 100vh;
  min-height: 834px;
  min-width: 1000px;
  font-family: "SFPro";
  img{
    cursor: pointer;
  }
}
button{
  background: transparent;
  border:none;
  color:$text-onblue-primary;
  outline: none;  
}
a,input{
  outline: none;
}
select{
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  outline: none;
  transition: border-color ease .2s;
  &:active{
    border-color: lighten($outline, 5%);
  }
}
select::-ms-expand {
  display: none;
}

@import "./styles/Typography.scss";
@import "./styles/Nav/Nav.scss";
@import "./styles/Main/Main.scss";
@import "./styles/Footer/Footer.scss";

