@font-face {
  font-family: "SFPro";
  src: url(./fonts/SFPro/TrueType/SFProDisplay-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "SFPro", "Open Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
